@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Забравена парола";
}

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow" style="width: 400px; border-radius: 15px;">
        <div class="card-body text-center">
            <h3 class="card-title mb-4 text-primary">Забравена парола</h3>
            <p class="text-muted mb-4">Въведете вашия имейл, за да получите инструкции за възстановяване на паролата.</p>
            <form method="post">
                <div class="form-group text-left">
                    <label for="email">Имейл</label>
                    <input id="email" asp-for="Input.Email" class="form-control" placeholder="Пример: ivan@abv.bg" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary w-100 mt-4">Изпрати инструкции</button>
                <p class="text-center mt-3"><a asp-page="/Account/Login" class="text-primary">Обратно към Вход</a></p>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
