@{
    ViewData["Title"] = "Category 1 Products";
}


<div class="row">
    <!-- Продукт 1 -->
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <img src="/images/menbox.png" class="card-img-top" alt="Комплект мъжки часовник от PU кожа" style="height: 300px; object-fit: cover;">
            <div class="card-body text-center">
                <h5 class="card-title">Комплект мъжки часовник от PU кожа</h5>
                <p class="card-text">Цена: 50.00 лв</p>
                <p class="card-text">Луксозен комплект с часовник, слънчеви очила и портфейл, подходящ за стилни мъже.</p>
                <a href="/Products/Details/1" class="btn btn-primary">Buy Now</a>
            </div>
        </div>
    </div>

    <!-- Продукт 2 -->
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <img src="/images/wesky.png" class="card-img-top" alt="Комплект гарафа за уиски" style="height: 300px; object-fit: cover;">
            <div class="card-body text-center">
                <h5 class="card-title">Комплект гарафа за уиски</h5>
                <p class="card-text">Цена: 80.00 лв</p>
                <p class="card-text">Елегантна гарафа за уиски с две чаши, идеален подарък за любителите на уиски.</p>
                <a href="/Products/Details/2" class="btn btn-primary">Buy Now</a>
            </div>
        </div>
    </div>

    <!-- Продукт 3 -->
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <img src="/images/gitar.png" class="card-img-top" alt="Китарен винилов стенен часовник" style="height: 300px; object-fit: cover;">
            <div class="card-body text-center">
                <h5 class="card-title">Китарен винилов стенен часовник</h5>
                <p class="card-text">Цена: 60.00 лв</p>
                <p class="card-text">Уникален часовник с форма на китара, направен от винилова плоча, идеален за музикални фенове.</p>
                <a href="/Products/Details/3" class="btn btn-primary">Buy Now</a>
            </div>
        </div>
    </div>
</div>
