@{
    ViewData["Title"] = "Контакти";
}
<h1>@ViewData["Title"]</h1>

<p>
    GiftyLand – връзка с нас

    Имейл: giftyland@abv.bg

    Телефон: 0879231750

    Работно време: Пон.–Пет. 9:00–18:00
</p>
