@{
    ViewData["Title"] = "Политика за бисквитки";
}
<h1>@ViewData["Title"]</h1>

<p>
    Какво са бисквитки?

    Бисквитките са малки файлове, които се запазват на Вашето устройство и помагат сайтът да функционира по-добре (напр. запазване на количката, езикови предпочитания).

    Какви бисквитки използваме?

    Задължителни – за основната функционалност

    Аналитични – за анонимна статистика

    Маркетингови – за персонализирано съдържание

</p>
