@{
    ViewData["Title"] = "Политика за поверителност";
}
<h1>@ViewData["Title"]</h1>

<p> 
    Поверителност на личните данни

    Different уважава Вашата поверителност и се ангажира да защитава личните Ви данни. Събираме минимално необходимата информация, за да изпълним Вашата поръчка – име, адрес, телефон и имейл.

    Вашите данни няма да бъдат предоставяни на трети страни, освен когато това е необходимо за доставката или по законово изискване.

    Сигурност на данните

    Използваме SSL сертификати и съвременни методи за защита, за да осигурим безопасност на личната информация.
</p>
