@{
    ViewData["Title"] = "Политика за връщане";
}
<h1>@ViewData["Title"]</h1>

<p>
    Право на отказ

    Имате право да върнете продукт в срок от 14 дни след получаването му, без да посочвате причина. Продуктът трябва да е в оригинално състояние и опаковка.

    Процедура

    Свържете се с нас чрез формата за контакт или имейл.

    Разходите по връщане са за сметка на клиента, освен при дефектен продукт.

</p>
