@{
    ViewData["Title"] = "Общи условия";
}
<h1>@ViewData["Title"]</h1>

<p>
    Условия за ползване на сайта

    С използването на GiftyLand Вие се съгласявате с настоящите условия.

    Всички цени са в български лева с включено ДДС.

    GiftyLand си запазва правото да актуализира информация и цени без предизвестие.

    При наличност, доставката се извършва до 5 работни дни.

    Промоции и отстъпки

    Ние редовно предлагаме специални промоции като седмични намаления, сезонни оферти и кодове за отстъпка. Валидността и условията се посочват ясно към всяка кампания. Промоциите не се комбинират, освен ако не е упоменато.

</p>
