@model IEnumerable<GiftShop.Models.CartItem>

<h1>Преглед на поръчката</h1>
<table class="table">
    <thead>
        <tr>
            <th>Продукт</th>
            <th>Количество</th>
            <th>Цена</th>
            <th>Общо</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Product.Name</td>
                <td>@item.Quantity</td>
                <td>@item.Product.Price.ToString("C")</td>
                <td>@(item.Quantity * item.Product.Price)</td>
            </tr>
        }
    </tbody>
</table>


<h3>Информация за доставка</h3>
<form asp-action="ConfirmOrder" asp-controller="Order" method="post">
    <div class="form-group">
        <label for="fullName">Име и фамилия</label>
        <input type="text" id="fullName" name="fullName" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="shippingAddress">Адрес за доставка</label>
        <input type="text" id="shippingAddress" name="shippingAddress" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="phoneNumber">Телефонен номер</label>
        <input type="text" id="phoneNumber" name="phoneNumber" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="shippingMethod">Метод на доставка</label>
        <select id="shippingMethod" name="shippingMethod" class="form-control" required>
            <option value="Econt">Еконт</option>
            <option value="Speedy">Спиди</option>
        </select>
    </div>
    <div class="form-group">
        <label for="paymentMethod">Метод на плащане</label>
        <select id="paymentMethod" name="paymentMethod" class="form-control" required>
            <!-- <option value="Card">Кредитна карта</option> -->
            <option value="CashOnDelivery">Наложен платеж</option>
        </select>
    </div>
    <button type="submit" class="btn btn-success mt-3">Потвърди поръчката</button>
</form>
