@{
    ViewData["Title"] = "Admin Panel";
}

<h1>Административен панел</h1>

<div class="mt-4">
    <!-- Бутон за управление на продуктите -->
    <a asp-action="Products" class="btn btn-primary mb-3">Управление на продукти</a>
    <a asp-controller="Admin" asp-action="Orders" class="btn btn-primary mb-3">Поръчки</a>

</div>

<p>Добре дошли в административния панел! Използвайте бутоните по-горе, за да навигирате.</p>
